In [ ]:
def month_week():
    (d.day - 1) // 7 + 1

In [4]:
import datetime
import calendar

def week_of_month(tgtdate):
    tgtdate = tgtdate.to_datetime()

    days_this_month = calendar.mdays[tgtdate.month]
    for i in range(1, days_this_month):
        d = datetime.datetime(tgtdate.year, tgtdate.month, i)
        if d.day - d.weekday() > 0:
            startdate = d
            break
    # now we canuse the modulo 7 appraoch
    return (tgtdate - startdate).days //7 + 1

In [15]:
CATEGORICAL = ['Month', 'Weekday', 'Ticker', 'ticker_type']

In [17]:
import pandas as pd

a = pd.get_dummies(CATEGORICAL)
a

   Month  Ticker  Weekday  ticker_type
0   True   False    False        False
1  False   False     True        False
2  False    True    False        False
3  False   False    False         True

AttributeError: 'str' object has no attribute 'to_datetime'

In [12]:
import pandas as pd

# Create first days for 12 months
first_days = pd.date_range(start='2024-01-01', periods=12, freq='MS')
print(first_days)

DatetimeIndex(['2024-01-01', '2024-02-01', '2024-03-01', '2024-04-01',
               '2024-05-01', '2024-06-01', '2024-07-01', '2024-08-01',
               '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [ ]:
import pandas as pd

# Create dates for first day of each month for next 12 months
dates = pd.date_range(
    start=pd.Timestamp.now().normalize().replace(day=1),
    periods=12,
    freq='MS'  # Month Start frequency
)

# Convert to Series
first_days = pd(dates)
print(first_days)

TypeError: 'module' object is not callable